button.simulatorcontrol {
  background-repeat:no-repeat;
  cursor: pointer;
  border-top: solid 2px #eaeaea;
  border-left: solid 2px #eaeaea;
  border-bottom: solid 2px #777;
  border-right: solid 2px #777;
  /*  padding:15px;  */
  height:48px;
  width:48px;
}

button.layout-selection{
  background-repeat:no-repeat;
  cursor: pointer;
  border-top: solid 2px #eaeaea;
  border-left: solid 2px #eaeaea;
  border-bottom: solid 2px #777;
  border-right: solid 2px #777;
  /*  padding:15px;  */
  height:48px;
  width:96px;
}

button.down {
  background-repeat:no-repeat;
  border-top: solid 2px #777;
  border-left: solid 2px #777;
  border-bottom:solid 2px  #eaeaea;
  border-right: solid 2px #eaeaea;
}

#slowdown {
  background-image:url("../img/slowdown.png");
}

#speedup {
  background-image:url("../img/speedup.png");
}

#playpause {
  background-image:url("../img/play.png");
}

#playpause.down {
  background-image:url("../img/pause.png");
}
